services:
  discord-downloader-bot:
    build:
      context: .
    env_file: .env
    tmpfs:
      - /mnt/ramdisk:rw,size=100m
    deploy:
      resources:
        limits:
          memory: 1024M
          cpus: "4.0"
        reservations:
          memory: 512M
    restart: unless-stopped