services:
  discord-downloader-bot:
    build:
      context: .
    env_file: .env
    # tmpfs mounts a temporary filesystem in RAM, avoiding SD card writes
    tmpfs:
      - /mnt/ramdisk:rw,size=256m,mode=1777
    deploy:
      resources:
        limits:
          memory: 1024M
          cpus: "4.0"
        reservations:
          memory: 256M
    restart: unless-stopped