aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
async-timeout @ file:///croot/async-timeout_1732661977001/work
attrs @ file:///croot/attrs_1734533101012/work
discord.py @ file:///home/conda/feedstock_root/build_artifacts/discord.py_1691711949357/work
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
idna @ file:///croot/idna_1714398848350/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
multidict @ file:///croot/multidict_1730905498140/work
packaging @ file:///croot/packaging_1734472117206/work
pluggy @ file:///croot/pluggy_1733169602837/work
propcache @ file:///croot/propcache_1744012718189/work
pytest @ file:///croot/pytest_1738938843180/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1742948348/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
yarl @ file:///croot/yarl_1732546845924/work
yt-dlp @ file:///home/conda/feedstock_root/build_artifacts/yt-dlp_1747933626434/work
